@import "../../Colors.module.scss";

.button {
  color: $purple;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  &:hover {
    opacity: 0.5;
  }
}
