@import "../../Colors.module.scss";

.checkbox {
    width: 22px;
    height: 22px;
    border: 1.5px solid $purple;
    border-radius: 4px;
    appearance: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    &:checked {
      border-color: $purple;
      position: relative;
      
      &::after {
        content: "✓";
        font-size: 14px;
        color: $purple;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  

  .blue {
    border-color: $blue;
    
    &:checked {
      border-color: $blue;
      
      &::after {
        color: $blue;
      }
    }
  }

  .orange {
    border-color: $orange;
    
    &:checked {
      border-color: $orange;
      
      &::after {
        color: $orange;
      }
    }
  }

  .pink {
    border-color: $pink;
    
    &:checked {
      border-color: $pink;
      
      &::after {
        color: $pink;
      }
    }
  }

  .yellow {
    border-color: $yellow;
    
    &:checked {
      border-color: $yellow;
      
      &::after {
        color: $yellow;
      }
    }
  }