@import "../../Colors.module.scss";

.section {
  width: fit-content;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.sectionDiv {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  width: 100%;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  border-radius: 10px;
}

.yellow {
  background-color: $mediumYellow;
}

.orange {
  background-color: $darkOrange;
}

.pink {
  background-color: $darkPink;
}

.blue {
  background-color: $darkBlue;
}

.noTasks {
  min-width: 381px;
}
