$purple: rgba(131, 56, 236, 1);
$purpleHover: rgba(181, 136, 244, 1);
$pink: rgba(255, 102, 168, 1);
$darkPink: rgba(255, 0, 110, 1);
$orange: rgba(253, 154, 106, 1);
$darkOrange: rgba(251, 86, 7, 1);
$blue: rgba(137, 182, 255, 1);
$darkBlue: rgba(58, 134, 255, 1);
$yellow: rgba(255, 216, 109, 1);
$red: rgba(250, 77, 77, 1);
$green: rgba(8, 165, 8, 1);
$darkYellow: rgba(255, 190, 11, 1);
$mediumYellow: rgba(247, 188, 48, 1);