@import "../../Colors.module.scss";

.container {
  display: flex;
  flex-direction: column;
  width: 231px;
  border: 1px solid rgba(222, 226, 230, 1);
  border-radius: 5px;
  position: relative;
  padding: 0 14px;
  background-color: #fff;
}

.containerActive {
  border-color: $purple;
}

.beforeDrop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 46px;
}

.left {
  display: flex;
  align-items: center;
}

.arrow {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.arrowOpen {
  transform: rotate(180deg);
}

.dropdownItem {
  display: flex;
  align-items: center;
  width: 100%;
  height: 46px;
  padding: 0 14px;
  cursor: pointer;
}
