@import "../../Colors.module.scss";


.section {
    padding: 40px 30px 20px 30px;
    border: 0.5px solid $purple;
    display: block;
    border-radius: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.button {
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: end;
}