.mainDiv {
  padding-top: 40px;
  padding-bottom: 152px;
}

.title {
  font-weight: 600;
  font-size: 34px;
}

.dropDown {
  display: flex;
  gap: 45px;
  margin-top: 52px;
  border: 1px solid rgba(222, 226, 230, 1);
  width: fit-content;
  border-radius: 10px;
  position: relative;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.position {
  position: absolute;
  background-color: white;
  width: 100%;
  margin-top: 50px;
  z-index: 10000;
}

.filter {
  margin-top: 25px;
  display: flex;
  gap: 8px;
}

.filterButton {
  padding: 6px 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(2, 21, 38, 0.8);
}